.App {
  text-align: center;
}

html, body, #root {
  height: 100%;
}

body {
  font-size: 100%;
}

.opacity1 {
  opacity: 1 !important;
}

.displayNone {
  display: none !important;
}

.account {
  margin: 0 auto;
  width: 75%;
  background-color: #c7c7e54d;
  margin-top: 8%;
  font-size: 20px;
}

.accountHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.accountHeader p {
  width: 20%;
  text-align: center;
}

.banner {
  height: 10%;
  width: 100%;
  display: flex;
  background-color: #97bacd;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 1px;
}

.bannerItem {
  margin: 1%;
  ;
}

.user::first-letter {
  text-transform: capitalize;
}

.bannerItem p {
  float: left;
  padding-right: 10px;
}

.card {
  height: 25%;
  width: 25%;
  background-color: #c7c7e5a8;
  float: left;
  clear: right;
  margin: 4%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all .15s linear;
  cursor: pointer;
}

.membersHeader {
  font-size: 1em;
  font-weight: 700;
  height: 7% !important;
  align-items: center;
}

.membersRow:nth-child(odd) {
  background-color: #a4b4c2;
}

.optout {
  background-color: #f25656 !important;
}

.membersTable {
  height: 70%;
  width: 95%;
  overflow: auto;
  margin: 0 auto;
  margin-top: 3%;
  background-color: #cac4d0;
}

#dynamicInput {
  position: absolute;
}

.membersRow {
  display: flex;
  min-height: 7%;
  justify-content: space-evenly;
}

.button {
  width: 25%;
  padding: 0.75% !important;
  background-color: #82d382;
  box-shadow: 0px 0px 3px 0px;
  cursor: pointer;
  border: none;
}

.modifyMembers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10%;
  align-items: center;
}

.cardValue {
  margin-top: 17%;
  font-size: 200%;
}

.loginDiv {
  width: 90%;
  margin: auto;
  margin-top: 20%;
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 4px;
  /* box-shadow: 0 0 6px #ddd;   */
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
}

#logIn input {
  margin: auto;
  margin-bottom: 20px;
  padding: 8px 10px;
  border: 1px solid #ddd;
  display: block;
  border-bottom: 2px solid #c51d00;
}

#logIn input:focus {
  outline: none;
  border-bottom: 2px solid #009688;
}

/* For Responsive */

@media only screen and (min-width: 768px) {
  .loginDiv {
    width: 60%;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 1024px) {
  .loginDiv {
    margin-top: 5%;
    width: 30%;
  }
  #logIn input {
    width: 60%;
  }
}

.loginDiv h4 {
  margin: 0;
  margin: 10px 0 20px;
  text-align: center;
}

.addUser {
  position: relative;
  width: 30%;
  margin: 0% auto;
  padding: 4% 0;
  box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.46);
  background-color: #ede8e8;
  height: 30%;
  opacity: 0;
  transition: all .15s linear;
}

.el {
  border-style: none;
}

.cell {
  cursor: pointer;
  min-width: 19%;
  margin: 1px;
}

.pointerEventsNone {
  pointer-events: none !important;
}

.loginBtn {
  display: block;
  margin: 40px auto 0;
  background-color: #82d382 !important;
  border-style: none !important;
  color: #fff;
  padding: 6px 15px;
  cursor: pointer;
  font-weight: bold;
}

.addUser {
  position: absolute;
  bottom: 45%;
  width: 25%;
  opacity: 1;
  height: 20%;
  left: 35%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  min-width: 280px;
}

.addUser .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%
}

body {
  /* background: rgb(45, 253, 93);
  background: linear-gradient(0deg, rgba(45, 253, 93, 1) 0%, rgba(34, 193, 195, 1) 100%); */
  /* background:ghostwhite; */
  background: #c21500;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c21500, #ffc500);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c21500, #ffc500);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}