.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

 #logIn{  
    position: relative;
    width: 50%;
    margin: 0% auto;
    padding: 4% 0;
}

.el{
  border-radius: 5px;
    border-style: none;
}

 .logInEl{
  width: 30%;
  height: 12%;
  margin: 3%;
  margin-left: 35%;
  min-height: 30px;
  max-width: 200px;
 }
 body{
  background: rgb(45,253,93);
  background: linear-gradient(0deg, rgba(45,253,93,1) 0%, rgba(34,193,195,1) 100%); 
  
 }